//Fonts
$nuni : 'Nunito', sans-serif;
$pop: 'Poppins', sans-serif;

//Colors    
$font: #2f3332;
$primary: #f47362; 
$white: #fff;
$gray: #818182;
$light-gray: #f6f6f6;
$footer: #0e1317;
$preFotter: #212223;

//break-points
$bp1: 576px + 1;
$bp2: 768px + 1;
$bp3: 992px + 1;
$bp4: 1200px + 1;
$bp5: 1440px + 1;

$width: 1200px;

@mixin fontz($fmx,$fmn){
    font-size: calc(#{$fmx} + (#{$fmn} * (100vw / 1400)));
}

@mixin line($lmx,$lmn){
    line-height: calc(#{$lmx} + (#{$lmn} * (100vw / 1400)));
}

